.profileLinks {
  align-self: flex-end;

  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;

  width: 74%;

  font-size: 1.3rem;
  gap: 0.5rem;
}

.profileLinks__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
