.profileLinks {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.9rem; 
}

.item__icon {
  display: flex;
  align-items: center;
}

.item_text--not_available {
  color: var(--grey);
}

@media (min-width: 768px) {
  .profileLinks {
    grid-template-columns: auto 1fr auto 1fr;
    gap: 0.9;
    position: relative;
    width: calc(100% - 150px - 5%);
    left: calc(150px + 5%);
    font-size: 1.2rem;
  }

  .item__icon {
    font-size: 1.2rem;
  }
}