.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__input {
  background: transparent;
  padding-left: 2rem;
  border: none;
  outline: none;
  width: 100%;
  height: 4rem;

  color: var(--text-white);
  font-size: 1.5rem;
}

.search__icon {
  height: 150%;
  padding-left: 0.5rem;
}
