.lightSwitcher {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-weight: 700;
  font-size: 0.8rem;
  position:relative;
  right: 0;
  top: 3px;
  color: var(--logo-text)
}

.icon {
  filter: var(--icon-white);
  height: auto;
  width: 20px;
}

@media (min-width: 768px) {
  .lightSwitcher {
    font-size: 1.3rem;
  }

  .icon {
    width: 25px;
}
}