.app {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  .app {
    padding: 3rem;
    gap: 2rem;
    max-width: 1024px;
    align-items: stretch;
    margin: auto;
  }
}