.profileHeader {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
}

.profileHeader__mainInfo {
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
}

.mainInfo__username {
  font-size: 1.1rem;
  font-weight: 700;
}

.mainInfo__login {
  color: var(--light-blue);
  font-size: 0.9rem;
}

.mainInfo__login::before {
  content: '@';
}

.mainInfo__joined {
  color: var(--grey);
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .profileHeader__mainInfo {
    width: calc(100% - 150px);
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "username joined"
      "login joined"; 
  }

  .profileHeader__avatar {

    width: 150px;
    height: 150px;
    flex-basis: 150px;
}

  .mainInfo__username {
    order: 1;
    grid-area: 'username';
    font-size: 1.8rem;
  }

  .mainInfo__login {
    order: 3;
    grid-area: 'login';
    font-size: 1.3rem;
  }

  .mainInfo__joined {
    order: 2;
    text-align: end;
    grid-area: 'joined';
    font-size: 1.2rem;
  }
}